body {
  font-family: 'Lato', sans-serif;
  max-width: 100%;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }

.menu-toggle {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 85px;
  z-index: 10;
  font-size: 24px;
  color: gray;
  line-height: 25px; }

#menu-modal {
  max-height: 590px; }

.modal-open .modal {
  overflow-x: auto;
  overflow-y: hidden; }

.navbar {
  height: 150px;
  margin-bottom: 0px; }

nav.navbar div.container-fluid {
  justify-content: center;
  display: flex; }

ul.nav {
  height: 150px; }

ul.nav li {
  height: 150px; }

ul.nav li a {
  height: 149px;
  display: table-cell;
  vertical-align: middle;
  font-size: 30px; }

.info-box {
  width: 100%;
  height: 80px;
  background-color: rgba(95, 95, 95, 0.5);
  margin-bottom: 20px; }

.nav-fixed {
  position: fixed;
  top: 0px; }

.content-padding {
  margin-top: 105px; }

div.row {
  margin: 0px; }

.row div.col-xs-8 {
  padding: 20px; }

.row div.col-xs-4 {
  padding: 20px; }

.row div.col-xs-2 {
  padding: 20px;
  overflow: hidden;
  white-space: nowrap; }

div.row li.list-group-item {
  background-color: #c1c1c1;
  margin-bottom: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3); }

#content-container {
  margin-bottom: 150px; }

#bank-hover {
  height: 200px;
  width: 130px;
  position: absolute;
  right: 20px;
  top: 215px; }

.bank-hover-scrolled {
  top: 65px !important; }

.back-to-top {
  height: 25px;
  width: 80px;
  position: fixed;
  background: #b5b5b5;
  bottom: 45px;
  left: 5px;
  line-height: 24px;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer; }

.sticky-footer {
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: gray;
  padding: 0px; }

.progress {
  height: 100%;
  border-radius: 0px;
  background-color: #afafaf; }

.progress-bar {
  font-size: 14px;
  line-height: 40px;
  transition: width 0s ease;
  background-color: #6b6b6b;
  white-space: nowrap;
  text-align: center; }
